@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(30deg);
  }
}
@keyframes wiggle2 {
  0%,
  100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
